* {
	font-family: "ProFont IIx Nerd Font Mono";
}

window {
	margin: 0px;
	border: 1px solid #92c6d8;
	background-color: #1e4c62;
}

#input {
	margin: 5px;
	border: none;
	color: #92c6d8;
	background-color: #7a8480;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #1e4c62;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #1e4c62;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #92c6d8;
}

#entry.activatable #text {
	color: #1e4c62;
}

#entry > * {
	color: #92c6d8;
}

#entry:selected {
	background-color: #7a8480;
}

#entry:selected #text {
	font-weight: bold;
}
