@import url("../../.cache/wal/colors-waybar.css");

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family:
		ProFont IIx Nerd Font Mono,
		sans-serif;
	font-size: 15px;
}

window#waybar {
	all: unset;
}
.modules-right,
.modules-center,
.modules-left {
	padding: 7px;
	margin: 8px 8px 0 8px;
	border-radius: 5px;
	background: alpha(@background, 0.7);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
tooltip {
	background: @background;
	color: @color7;
}
#clock:hover,
#custom-pacman:hover,
#pulseaudio:hover,
#custom-power:hover {
	transition: all 0.3s ease;
	color: @color9;
}
#clock {
	padding: 0px 5px;
	color: @color7;
	transition: all 0.3s ease;
}
#custom-pacman,
#pulseaudio,
#tray,
#custom-power {
	padding: 0px 5px;
	transition: all 0.3s ease;
	color: @color7;
}
#workspaces {
	padding: 0px 5px;
}
#workspaces button {
	all: unset;
	padding: 0px 5px;
	color: alpha(@color9, 0.5);
	transition: all 0.2s ease;
}
#workspaces button.active {
	color: @color9;
	border: none;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#workspaces button.empty {
	color: alpha(@color9, 0.2);
	border: none;
	text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}
#workspaces button.empty.active {
	color: @color9;
	border: none;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#group-expand {
	padding: 0px 5px;
	transition: all 0.3s ease;
}
#custom-expand {
	padding: 0px 5px;
	color: @color7;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	transition: all 0.3s ease;
}
#custom-expand:hover {
	color: @color9;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
#window {
	color: @color7;
}
