@import "../../.cache/wal/colors-waybar.css";

* {
	background-color: @background;
	color: @foreground;

	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: "Google Sans, ProFont IIx Nerd Font Mono";
	font-size: 16px;
}

.modules-left {
	margin-left: 8px;
}

.modules-right {
	margin-right: 8px;
}

#workspaces button {
	all: initial;
	padding: 0 6px;
	margin: 0 1.5px;
	min-width: 9px;
}

#workspaces button.empty {
	opacity: 0.5;
}

#window {
	padding: 0 6px;
}

#pulseaudio,
#custom-power,
#tray,
#bluetooth,
#custom-pacman,
#network,
#custom-expand-icon,
#custom-system-stats {
	min-width: 12px;
	margin: 0 7.5px;
}

tooltip {
	padding: 2px;
}

#clock {
	margin-left: 8.75px;
}

.hidden {
	opacity: 0;
}
